
<h1>All Devices</h1>

<div class="itsthetable">
  <table>
    <thead>
    <tr>
      <th>번호</th>
      <th>매장ID</th>
      <% if @is_debug %>
      <th>업데이트 시작시간</th>
      <th>업데이트 종료시간</th>
      <th>업데이트 필요여부</th>
      <% end %>
      <th>정보보기</th>
      <th>당첨상황</th>
    </tr>
    </thead>
    <% count = 0 %>
    <% @devices.each do |device| %>
        <% if count.odd? %>
            <tr class="odd">
        <% else %>
            <tr class="even">
        <% end
           count += 1
        %>
          <td><%=device.id%></td>
          <% if (device.device_id =~ /_/) and ((device.device_id.include? "mart") or (device.device_id.include? "ski01")) %>
            <td><%=device.device_id[0, (device.device_id =~ /_/)]%></td>
          <% else %>
            <td><%= device.device_id %> </td>
          <% end %>

        <% if @is_debug %>
          <td><%=device.update_start_date.in_time_zone("Seoul")%></td>
          <td><%=device.update_end_date.in_time_zone("Seoul")%></td>
          <td><%=device.need_update%></td>

            <% end %>
          <td><%= link_to "정보보기", device %></td>
          <td>
            <%= device.slot_logs.where(:db_prize=>1).group_by(&:db_id).size %> /
            <%= device.slot_logs.where(:db_prize=>2).group_by(&:db_id).size %> /
            <%= device.slot_logs.where(:db_prize=>3).group_by(&:db_id).size %> /
            <%= device.slot_logs.where(:db_prize=>4).group_by(&:db_id).size %>
          </td>
        </tr>
    <% end %>
  </table>
</div>