<h1>All Devices</h1>

<table style="text-align: center;">
  <thead>
  <tr>
    <th>ID</th>
    <th>업데이트 시작시간</th>
    <th>업데이트 종료시간</th>
    <th>업데이트 필요여부</th>
    <th>업로드 필요여부</th>
    <th>삭제</th>
  </tr>
  </thead>
  <% @devices.each do |device| %>
      <tr>
        <td><%=device.device_id%></td>
        <td><%=device.update_start_date%></td>
        <td><%=device.update_end_date%></td>
        <td><%=device.need_update%></td>
        <td><%=device.need_upload%></td>
        <td><%= link_to 'Destroy', device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>