<h1>New Probability</h1>

<%= form_for @probability do |f| %>
    <%= f.label :date %>
    <%= f.text_field :date %><br/>

    <%= f.label :prize %>
    <%= f.text_field :prize %><br/>

    <%= f.label :count %>
    <%= f.text_field :count %><br/>
    <%= f.submit "submit" %>
<% end %>


<%= link_to 'Back', probabilities_path %>
